.pagination {
  padding: 20px 0 !important;
}
.square-i a {
  border: 3px solid #ff4848 !important;
  color: #ff4848 !important;
}
.p8 a,
.square-i .is-active {
  background-color: #ff4848 !important;
  color: #fff !important;
}
.pagination a {
  cursor: pointer;
  display: inline-block;
  padding: 10px 18px !important;
}
